body{
	margin: 0;
	padding: 0;
	font-family: 'RobotoRegular';
}
.logo{
	max-width: 200px;
}
.fondo-imagen{
	background: url(../img/fondo-home.jpg) no-repeat center center;
	background-size: cover !important;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 0;
}
.fondo-imagen:BEFORE{
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	opacity: .4;
	z-index: 1;
}
.card-login{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 900px;
    width: 100%;    
    padding: 10px;
}
.logo-home{
	text-align: right;
	margin-top: 50px;
}
.logo-home img{
	max-width: 250px;
}
.nombres{
	color: #017159;
}
.nombres p{
    font-family: 'RobotoRegular';
    font-size: 40px;
    margin: 0;
}
.nombres h2{
    font-family: 'RobotoBold';
    margin: 5px 0 30px 0;
    font-size: 50px;
}
.mdl-card-login{
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
    max-width: 900px;
    display: inline-block;
}
.mdl-card-login .mdl-card__title{
	background-color: transparent;
	width: 100%;
	max-width: calc(100% - 360px);
	float: left;
	display: inline-block;
	padding: 30px;
}
.mdl-card-login .mdl-card__title h2{
	color: #FFFFFF;
	margin: 0;
	font-family: 'RobotoBold';
}
.mdl-card-login .mdl-card__title p{
	color: #FFFFFF;
	margin: 20px 0;
	font-size: 24px;
	font-family: 'RobotoLight';
}
.mdl-card-login .mdl-card__supporting-text{
	background-color: #FFFFFF;
	width: 100%;
    max-width: 360px;
    float: right;
    padding: 30px;
}
.mdl-card-login .mdl-card__supporting-text .event{
		display: none;
}
.mdl-card-login .mdl-card__supporting-text button{
	width: 100%;
}
/*MDL-CALENDARIO*/
.mdl-calendario{
	margin: 25px 0;
}
/*MDL-INPUTS*/
.mdl-input{
	display: flex;
	align-items: center;
    margin: 15px 0;
}
.mdl-input .mdl-icon{
    width: 30px;
    margin-right: 5px;
}
.mdl-input .mdl-textfield{
	width: 100%;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label, 
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label, 
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{
	color: #000000;
}
.mdl-textfield__label{
	font-size: 15px;
}
.mdl-textfield__label:after{
	background-color: #000000;
	bottom: 14px;
}
.mdl-textfield__input{
	font-family: 'RobotoRegular';
}
/*CARDS-FECHAS*/
.mdl-card-fecha{
    max-width: 165px;
    display: inline-block;
    width: 100%;
    margin: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 100%;
    min-height: 100%;
    padding: 10px 0;
}
.mdl-card-fecha .fecha{
    position: absolute;
    background-color: #000000;
    color: #FFFFFF;
    top: 0;
    left: 15px;
    padding: 3px 15px;
    display: none;
    font-size: 13px;
    vertical-align: middle;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
}
.mdl-card-fecha .fecha i{
    font-size: 18px;
    color: #FFFFFF;
    vertical-align: middle;
    margin-right: 5px;
}
.mdl-card-fecha .fecha label{
	margin: 0;
	vertical-align: middle;
	font-size: 16px;
}
.mdl-card-fecha:nth-child(1) .fecha{
	display: block;
}
.mdl-card.mdl-card-fecha.cards2:nth-child(5) .mdl-card__supporting-text .nombre-evento p{
	font-size: 18px;
}
.mdl-card.mdl-card-fecha.cards3:nth-child(3) .mdl-card__supporting-text .nombre-evento,
.mdl-card.mdl-card-fecha.cards2:nth-child(3) .mdl-card__supporting-text .nombre-evento{
	max-width: 100px;
}
.mdl-card.mdl-card-fecha.cards3:LAST-CHILD .mdl-card__supporting-text .nombre-evento p,
.mdl-card.mdl-card-fecha.cards2:LAST-CHILD .mdl-card__supporting-text .nombre-evento p{
    font-size: 15px;
    line-height: 18px;
}
.mdl-card.mdl-card-fecha.cards1:LAST-CHILD .mdl-card__supporting-text .nombre-evento p{
	font-size: 14px;
    line-height: 18px;
}
.mdl-card-fecha .mdl-card__supporting-text{
	width: 100%;
	text-align: right;
    padding: 0 12px;
}
.mdl-card-fecha .mdl-card__supporting-text p{
	font-size: 22px;
    font-family: 'RobotobOLD';
    margin: 0;
    color: #000000;
    text-align: left;
    line-height: 18px;
}
.mdl-card-fecha .mdl-card__actions{
	padding: 0 10px;
}
.mdl-card-fecha .mdl-card__actions button{
    text-transform: inherit;
    font-family: 'RobotoBold';
    height: 30px;
    line-height: 30px;
    box-shadow: none;
    background-color: transparent;
    border-radius: 10px;
    padding: 5px 0;
    line-height: 13px;
    height: 24px;
    font-size: 13px;
    -webkit-transition: background-color .3s linear, color .3s linear;
    -moz-transition: background-color .3s linear, color .3s linear;
    -ms-transition: background-color .3s linear, color .3s linear;
    -o-transition: background-color .3s linear, color .3s linear;
    transition: background-color .3s linear, color .3s linear;
}
.mdl-card-fecha .mdl-card__actions button:HOVER{
	background-color: #000000;
	color: #FFFFFF;
}
.mdl-card-fecha .mdl-card__actions button[disabled]:HOVER{
	background-color: #C5C5C5;
    color: #929292;
    cursor: not-allowed;
}
.container.relative{
	position: relative;
	max-width: 1045px;
	-webkit-transition: max-width .4s ease-in-out;
	-moz-transition: max-width .4s ease-in-out;
	-ms-transition: max-width .4s ease-in-out;
	-o-transition: max-width .4s ease-in-out;
	transition: max-width .4s ease-in-out;
}
.mdl-card__supporting-text .nombre-evento{
	height: 46px;
    position: relative;
    margin-bottom: 5px;
}
.mdl-card__supporting-text .nombre-evento p{
	position: absolute;
	bottom: 0;
}
.mdl-card__supporting-text span i{
	vertical-align: middle;
    font-size: 20px;
}
.mdl-card__supporting-text span i.second{
	margin-left: -15px;
}

/*BARRA SCROLL*/
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: #aaa;
	border-radius: 10px;
}
@media ( max-width: 768px ){
	.container.relative{
		max-width: 540px;
	}
	.mdl-card-login .mdl-card__supporting-text{
		float: none;
		margin: auto;
	}
	.mdl-card-login .mdl-card__title{
		display: none;
	}
	.mdl-card-login .mdl-card__supporting-text .event{
		display: block;
	}
	.mdl-card-login .mdl-card__supporting-text .event h2{
		font-size: 18px;
	    font-family: 'RobotoBold';
	    line-height: 20px;
	    margin: 20px 0 5px 0;
	}
	.mdl-card-login .mdl-card__supporting-text .event p{
		margin: 0;
    	font-family: 'RobotoRegular';
	}
	.mdl-card-login{
		background-color: transparent;
		box-shadow: none;
	}
}
@media ( max-width: 560px ){
	.container.relative{
	    max-width: 370px;
	}
	.nombres p{
		font-size: 32px;
	}
	.nombres h2{
	    font-size: 36px;
    	line-height: 32px;
	}
	.logo-home img{
		max-width: 180px;
    	margin-bottom: 20px;
	}
}
@media ( max-width: 420px ){
	.card-login{
		position: inherit;
	    transform: inherit;
	    padding: 0;
	    max-width: 100%;
	    box-shadow: none;
	}
	.mdl-card-login .mdl-card__supporting-text{
		max-width: 100%;
	}
	.container.relative{
	    max-width: 320px;
	    text-align: center;
	}
	.nombres h2{
		font-size: 30px;
    	line-height: 28px;
	}
	.logo-home{
		text-align: center;
	}
}